<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ninjaGold.css') }}">
    <title>Ninja Gold</title>
</head>
<body>
    <div id="wrapper">
        <div id="gold_count">
            <h2>Your Gold: {{ session['gold_count'] }}</h2>
            <form action="/reset" method="post">
                <input type="submit" value="Reset!">
            </form>
        </div>
        <!--the forms have same name but DIFFERENT values!-->
        <div class="building">
            <h1>Farm</h1>
            <h3>(earns 10-20 golds)</h3>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="building">
            <h1>Cave</h1>
            <h3>(earns 5-10 golds)</h3>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="building">
            <h1>House</h1>
            <h3>(earns 2-5 golds)</h3>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="building">
            <h1>Casino</h1>
            <h3>(earns/takes 0-50 golds)</h3>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="casino" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <h2>Activity Log:</h2>
        <div id="activity_log">
            {% for string in session['activity'] %}
            <!--checking if the string lost is in activity to either print in red for losses and green for wins!-->
                {% if "lost" in string %}
                    <div id="lost">
                        <p>{{ string }}</p>
                    </div>
                {% else %}
                    <div id="won">
                        <p>{{ string }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>