<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'word_app/style.css' %}">
    <title>Random Word Generator</title>
</head>
<body>
    <div id="wrapper">
        <h2>Random Word (Attempt #{{ request.session.attempt }})</h2>
        <div class="random_word">
            <h1>{{ request.session.word }}</h1>
        </div>
        <form action='/' method='post'>
            {% csrf_token %}
            <input type='submit' value='Generate!'>
        </form>
        <form action='/reset' method='post'>
            {% csrf_token %}
            <input type='submit' value='Reset!'>
        </form>
    </div>
</body>
</html>