<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Email Validation with DB</title>
</head>
<body>
    <div id="wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p id='error'>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Enter an email address!</h1><br>
        <form action='/' method='post'>
            Email: <input type="email" name="email">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>