<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ninjas.css') }}">
    <title>About Ninjas</title>
</head>
<body>
    <h1>About Ninjas!</h1>
    <img src="{{ url_for('static', filename='ninja.png') }}">
    <p>Ninjas, originally called shinobi (忍び) in Japan, were covert agents or mercenaries in feudal Japan. The functions of the ninjas included espionage, sabotage, infiltration, assassination and guerrilla warfare. Their covert methods of waging irregular warfare were deemed dishonorable and beneath the samurai, who observed strict rules about honor and combat. But let's be honest, they are still badda$$!</p>
</body>
</html>