<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='surveyValidation.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div id="wrapper">
        <h1>Coding Dojo Survey</h1><br><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p id ="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/process" method='post'>
            Name: <input type="text" name="name"><br><br>

            Dojo Location: 
            <select name="location">
                <option value="San Jose">San Jose</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
            </select><br><br>

            Favorite Language:
            <select name="language">
                <option value="Javascript">Javascript</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Python">Python</option>
            </select><br><br>
      
            Comments (Up to 120 characters): <br>
            <textarea name="comments"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>