<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_register/style.css' %}">
    <title>Success</title>
</head>
<body>
    <div id="wrapper">

        <h1>Hello {{ user.first_name }}!</h1><br>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action='/logout'>
            {% csrf_token %}
            <button>Logout</button>
        </form>

    </div>
</body>
</html>